.navbar {
    background-color: #014365 !important;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #cceeff !important;
}

.navbar-brand {
    color: white !important;
}
